.woocommerce .blockUI.blockOverlay {
    position: absolute;
}
.woocommerce-checkout .blockUI.blockOverlay {
    position: fixed !important;
}
.woocommerce .blockUI.blockOverlay:before, .woocommerce .loader:before {
    background: url("./assets/images/ajax-loader.gif") repeat scroll center center / cover rgba(0, 0, 0, 0);
    color: rgba(0, 0, 0, 0.7);
    content: "";
    display: block;
    font-size: 2rem;
    height: 7rem;
    left: 50%;
    line-height: 1;
    margin-left: -0.5em;
    margin-top: -0.5em;
    position: fixed;
    text-align: center;
    top: 50%;
    width: 7rem;
    z-index: 99;
}
.woocommerce .bfwc-payment-loader .blockUI.blockOverlay:before, .woocommerce .bfwc-payment-loader .loader:before {
    display: none !important;
}
