/* ## Site Header
--------------------------------------------- */

.site-header {
    position: absolute;
    width: 100%;
    z-index: 100;
    background-color: $gray;
    @include transition;
    .has-fixed-header & {
        position: fixed;
        &.shrink {
            box-shadow: 0 0 2rem rgba($dark,0.2);
        }
    }
    &.shrink > .wrap {
        @include breakpoint(md) {
            padding: 0;
        }
    }
    .page-template-page-builder & {
        position: relative;
        background-color: $dark;
        &.fixed {
            position: fixed;
        }
    }
    >.wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        flex-direction: column;
        @include transition;
        @include breakpoint(md) {
            padding: 1rem 0;
            padding-bottom: 0;
            flex-wrap: nowrap;
            position: relative;
        }
    }
}


/* ## Title Area
--------------------------------------------- */

.title-area {
    margin: 0 auto 0 0;
    position: relative;
    height: 100%;
    display: block;
    margin: 0 auto;
    flex: 1;
    padding: 2rem 0;
    max-width: 15rem;
    .wp-custom-logo & {
        padding: 1rem 0;
        @include breakpoint(lg) {
            padding: 0;
        }
    }
}

.site-title {
    font-size: 1.7rem;
    font-family: $font-heading;
    font-weight: $bold;
    line-height: 1;
    margin-bottom: 0;
    white-space: nowrap;
    a {
        color: $white;
        text-decoration: none;
    }
}

.site-description {
    font-size: 1.2rem;
    margin-bottom: 0;
    line-height: 1;
    color: $white;
    @include breakpoint(md) {
        text-align: left;
        line-height: 1.382;
    }
}

.custom-logo-link {
    display: block;
}

/* ## Header Right Widget Area
--------------------------------------------- */

.header-widget-area {
    @include breakpoint(md) {
        display: none;
    }
}

.menu-cart-menu-container {

    display: none;

    & ul {
        background: rgba( $dark, 0.98);
    }

    @include breakpoint(md) {
        order: 3;
        margin: 0;
        display: flex;
        justify-content: flex-end;
        width: auto;
        position: absolute;
        top: 1rem;
        right: 0;

        & .widgettitle, .widget-title {
            display: none;
        }

        & a, & .fa {
            color: $light;
            text-transform: capitalize;
            text-decoration: none;
            font-weight: 400;
            letter-spacing: 0;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        & li {
            display: flex;
            align-items: center;
            justify-content: center;
            background: $gray;
            & a {
                padding: 1.5rem .6rem;
            }
            &:hover,
            &:focus {
                background-color: $medium;
            }
            &.menu-header-search, &.menu-header-search:hover, &.menu-header-search:focus {
                background: $gray;
            }
        }

    }
    @media (max-width: map-get($breakpoints,md)) {
        ul,
        ul.alignleft,
        ul.alignright {
            margin: 2em auto;
            float: none;
            display: flex;
            justify-content: center;
            li {
                margin: 0 0.5em;
            }
        }
    }
    .widget-wrap {
        @include clearfix;
    }
    .simple-social-icons ul li {
        a,
        a:hover,
        a:focus {
            background-color: transparent !important;
        }
    }
}

.site-header .fa-shopping-cart {
    padding: 0;
    font-size: 2rem;
    margin-top: -.4rem;
}

.header-cart-menu {
    position: relative;
}

.cart-count {
    font-family: $font-body;
    font-size: 1.1rem;
    font-weight: $normal;
    background-color: transparent;
    color: $white;
    height: 14px;
    width: 14px;
    display: block;
    text-align: center;
    position: absolute;
    left: -.3rem;
    top: -.6rem;
    line-height: 14px;
}

.cart-total {
    position: absolute;
    text-indent: -9999px;
    visibility: hidden;
}

/* ## Product Search
--------------------------------------------- */

.product-search {

    display: flex;

    &__input {

        color: $light;
        background-color: transparent;
        border: none;
        border-radius: none;
        padding: 0;
        width: 130px;
        padding-left: 1rem;
        transition: all .5s;

        &::placeholder {
            color: $light;
        }

        @include breakpoint(md) {
            font-size: 1.3rem;
        }

        &:focus {
            color: $black;
            padding: 0 1rem;
            border-radius: 100px;
            width: 190px;
            background-color: $light;
            &::placeholder {
                color: $gray;
            }
        }

    }

    &__input:focus + &__button {
        margin-left: 0;
    }

    &__button {
        padding: 0;
        background-color: transparent;
        margin-left: -1rem;
        margin-top: .1rem;

        &:hover {
            box-shadow: none;
        }
    }

    &__icon {
        font-size: 1.6rem;
    }

}


/* ## Custom Header
--------------------------------------------- */

.wp-custom-header {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
    pointer-events: none;
    .woocommerce & img,
    img,
    video,
    iframe {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
    }
    iframe {
        top: -20%;
        left: -20%;
        right: -20%;
        bottom: -20%;
        margin: auto;
        height: 140%;
        width: 140%;
        max-width: 140%;
        max-height: none;
        min-width: 100%;
        min-height: 56.25vw; // 16:9 aspect ratio.
        position: absolute;
    }
    img {
        display: none;
    }
}

.wp-custom-header-video-button {
    display: none;
}


/* ## Page Header
--------------------------------------------- */

.page-header {
    color: $white;
    padding: 12rem 0 6rem;
    text-align: center;
    background-size: cover;
    background-position: center;
    position: relative;
    @include overlay;
    @include breakpoint(sm) {
        padding: 20rem 0 10rem;
    }
    .wrap {
        position: relative;
        z-index: 1;
    }
    h1 {
        max-width: map-get($breakpoints,sm);
        margin: 0 auto;
    }
    p {
        max-width: map-get($breakpoints,sm);
        margin: 0 auto;
    }
}
